// Utilities to provide v1-styling compatibility

@mixin font-size($sizeValue: 16){
  font-size: $sizeValue + px;
}

@mixin line-height($fontSize: auto){
  line-height: ($fontSize*1.48) + px;
}

%text-sr {
    // clip has been deprecated but is still supported
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
    margin: -1px;
    height: 1px;
    width: 1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    // ensure there are spaces in sr text
    word-wrap: normal;
}

%t-icon1 {
  @include font-size(48);
}

%t-icon2 {
  @include font-size(36);
}

%t-icon3 {
  @include font-size(24);
}

%t-icon4 {
  @include font-size(18);
}

%t-icon5 {
  @include font-size(16);
}

%t-icon6 {
  @include font-size(14);
}

%t-icon7 {
  @include font-size(12);
}

%t-icon8 {
  @include font-size(11);
}

%t-icon9 {
  @include font-size(10);
}

%t-icon-solo {
  @include line-height(0);
}
